version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:13.8.0 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run: npm run lint

  test:
    docker:
      - image: circleci/node:13.8.0 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run: npm run test
  audit:
    docker:
      - image: circleci/node:13.8.0 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run: npm audit
workflows:
  my-workflow:
    jobs:
      - build
      - test:
          requires:
            - build
      - audit:
          requires:
              - test